<%- include('main/head') %>
<%- include('main/nav') %>
<p>
    <%
    console.log('^Render^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\n',data);
    for(var k in data){
    %>
    <span><%= k %> : <%= data[k] %></span><br>
    <%
    }
    %>
</p>
<%- include('main/foot') %>	

